.intro{
text-align: center;
 
}
main{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
form{
  
  width: 20em;
margin-left: 0%;
height: 21em;
background-color: greenyellow;

}
img{
  height: 35em;
}
table{
  margin-left: 30em;
  color: green;
}
fieldset > div {
  margin-bottom: 3%;
  display: flex;
  flex-flow: row wrap;
}
  
  input:invalid {
    border: 1px solid red;
  }
  input:valid{
    border: 1px solid green;
  }
  footer{
    text-align: center;
    font-weight: 900;
  }